name: 'on-pr'
on:
  pull_request:
    branches:
      - '**'
jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set Node.js 16.x
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 16.x

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-node_modules-v1-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-node_modules-v1-

      - name: Install dependencies
        run: yarn

      - name: Test and Lint
        run: yarn test && yarn lint

      - name: make prerelease version
        id: make_prerelease_tag
        uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prefix: ${{ github.head_ref }}
          actionName: 'makePrerelease'
      - name: output tag
        run: 'echo ${{ steps.make_prerelease_tag.outputs.NEW_TAG }}'

